<header>
  <h3>Transaction history</h3>
  <button class="btn" (click)="openAddTransactionDialog()">
    + Add Transaction
  </button>
</header>
<ul id="list" class="list">
  @for (transaction of transactions(); track transaction) {
    <li
      [ngClass]="{
        income: transaction.category === 'income',
        expenses: transaction.category === 'expenses',
        bills: transaction.category === 'bills',
        investments: transaction.category === 'investments',
      }"
    >
      <div>
        <span>{{ transaction.text | titlecase }}</span>
        <span>{{
          transaction.amount | currency: selectedCurrencySymbol()
        }}</span>
      </div>
      <span class="timestamp">{{
        transaction.timeStamp | date: "medium"
      }}</span>
      <button class="delete-btn" (click)="deleteTransaction(transaction)">
        <i class="ph ph-trash"></i>
      </button>
    </li>
  }
</ul>
