<h3>Transaction history</h3>
<ul id="list" class="list">
  <li
    [ngClass]="{
      minus: transaction.category === '-',
      plus: transaction.category === '+'
    }"
    *ngFor="let transaction of transactions()"
  >
    <div>
      <span>{{ transaction.text | titlecase }}</span>
      <span>{{
        transaction.amount | currency : selectedCurrencySymbol()
      }}</span>
    </div>
    <span class="timestamp">{{ transaction.timeStamp | date : "medium" }}</span>
    <button class="delete-btn" (click)="deleteTransaction(transaction)">
      <i class="ph ph-trash"></i>
    </button>
  </li>
</ul>
