.radio-container {
  display: flex;
  align-items: center;
  gap: 20px;

  .radio {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.label-amount {
  margin-bottom: 3px;
}

label {
  font-size: 17px;
}

header {
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  border: none !important;
}
