<h1>Expense Tracker</h1>
<div class="info">
  <p>{{ user()?.name }}</p>
  <i class="ph ph-sign-out" (click)="logout()"></i>
</div>
<div class="container" id="htmlData">
  <section>
    <div class="left">
      <h4>Your Balance</h4>
      <h2 class="balance" [class.negative]="totalBalance() < 0">
        {{ totalBalance() | currency : selectedCurrencySymbol() }}
      </h2>
    </div>
    <div class="right" data-html2canvas-ignore>
      <i class="ph ph-file-pdf" (click)="exportAsPDF()"></i>
      <i class="ph ph-trash" (click)="deleteAllTransaction()"></i>
      <select
        [(ngModel)]="selectedCurrencyType"
        (ngModelChange)="changeCurrency($event)"
      >
        @for(curr of currencies; track curr.symbol){
        <option [value]="curr.type">{{ curr.name }}</option>
        }
      </select>
    </div>
  </section>

  <total-income-expenses />

  <history />

  <add-transaction data-html2canvas-ignore />
</div>
