<main>
  <h1 class="underline">Sign Up</h1>

  <div class="container">
    <form [formRoot]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="text">First Name<sup>*</sup></label>
        <input
          type="text"
          [formField]="registerForm.firstName"
          placeholder="Enter your first name..."
        />
      </div>
      <div class="form-control">
        <label for="text">Last Name<sup>*</sup></label>
        <input
          type="text"
          [formField]="registerForm.lastName"
          placeholder="Enter your last name..."
        />
      </div>
      <div class="form-control">
        <label for="text">Email<sup>*</sup></label>
        <input
          type="email"
          [formField]="registerForm.email"
          placeholder="Enter your email..."
        />
      </div>
      <div class="form-control">
        <label for="text">Password<sup>*</sup></label>
        <input
          type="password"
          [formField]="registerForm.password"
          placeholder="Enter your password..."
        />
      </div>
      <button class="btn" [disabled]="registerForm().invalid()">Sign Up</button>
    </form>
    <p class="footer">Have an account? <span routerLink="/">Sign in</span></p>
  </div>
</main>
